[submodule "External/LuaInterface"]
	path = External/LuaInterface
	url = https://github.com/megax/LuaInterface.git
[submodule "External/ngit"]
	path = External/ngit
	url = https://github.com/Schumix/ngit.git
[submodule "External/SharpZipLib"]
	path = External/SharpZipLib
	url = https://github.com/Schumix/SharpZipLib.git
