[submodule "External/ngit"]
	path = External/ngit
	url = git://github.com/Schumix/ngit.git
[submodule "External/YamlDotNet"]
	path = External/YamlDotNet
	url = git://github.com/Schumix/YamlDotNet.git
[submodule "External/NLua"]
	path = External/NLua
	url = git://github.com/Schumix/NLua.git
[submodule "Webadmin"]
	path = Webadmin
	url = git://github.com/Schumix/Webadmin.git
[submodule "External/ChatterBotApi"]
	path = External/ChatterBotApi
	url = git://github.com/Schumix/ChatterBotApi.git
[submodule "External/NGettext"]
	path = External/NGettext
	url = git://github.com/Schumix/NGettext.git
[submodule "External/CsharpSQLite"]
	path = External/CsharpSQLite
	url = git://github.com/Schumix/CsharpSQLite.git
[submodule "External/SGit"]
	path = External/SGit
	url = git://github.com/Schumix/SGit.git
