<?xml version="1.0"?>
<Server>
    <Log>
        <FileName>Server.log</FileName>
        <DateFileName>False</DateFileName>
        <MaxFileSize>100</MaxFileSize>
        <LogLevel>2</LogLevel>
        <LogDirectory>Logs</LogDirectory>
    </Log>
    <Server>
        <Listener>
            <Port>35220</Port>
        </Listener>
        <Password>schumix</Password>
    </Server>
    <Crash>
        <Directory>Dumps</Directory>
    </Crash>
    <Localization>
        <Locale>enUS</Locale>
    </Localization>
    <Update>
        <Enabled>False</Enabled>
        <Version>stable</Version>
        <Branch>master</Branch>
        <WebPage>https://github.com/megax/Schumix2</WebPage>
    </Update>
    <Shutdown>
        <MaxMemory>100</MaxMemory>
    </Shutdown>
    <Schumixs>
        <Enabled>False</Enabled>
        <Schumix>
            <Config>
                <File>Schumix.yml</File>
                <Directory>Configs</Directory>
                <ConsoleEncoding>utf-8</ConsoleEncoding>
                <Locale>enUS</Locale>
            </Config>
        </Schumix>
    </Schumixs>
</Server>